/* CLASSIC WEBSITE TEMPLATE */
/* Created by William Henderson */

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;500;700&display=swap");

body.lightTheme {
    --accent-color: #ef6461;
    --accent-color-darker: #bd403e;
    --colored-text: #ef6461;
    --text-color: #00020f;
    --hero-header-color: #f2f4ff;
    --hero-text-color: #ffffff;
    --section-color-1: #f2f2f2;
    --section-color-2: #e3e3e3;
    --link-hover-color: #ef6461;
}

body.darkTheme {
    --accent-color: #2f3335;
    --accent-color-darker: #141618;
    --colored-text: #ef6461;
    --text-color: #eaebee;
    --hero-header-color: #ef6461;
    --hero-text-color: #eaebee;
    --section-color-1: #313638;
    --section-color-2: #242729;
    --link-hover-color: #ef6461;
}

body {
    margin: 0;
    padding: 0;
    color: var(--text-color);
    font-family: Poppins;
    overflow: hidden auto;
}

.shadow.text { text-shadow: 0 0 20px rgba(0, 0, 0, 0.4); }
.shadow.box { filter: drop-shadow(0 0 20px rgba(0, 0, 0, 0.4)); }

/* NAVIGATION */

div.navigation {
    position: absolute;
    width: 100%;
    height: 10vh;
    color: var(--hero-text-color);
    font-weight: 700;
    box-sizing: border-box;
    text-transform: capitalize;
    letter-spacing: 1px;
    padding: 2vh;
    font-size: 3vh;
    white-space: nowrap;
    overflow: auto hidden;
    text-align: right;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0));
}

div.navigation span {
    float: left;
}

div.navigation a:link, div.navigation a:visited, div.navigation a:active, div.navigation a {
    color: var(--hero-text-color);
    margin: 0 1.5vh;
    cursor: pointer;
}

div.navigation a::after {
    content: "\2022";
    margin: 0 -2vh 0 2vh;
}

div.navigation a:nth-last-child(1)::after {
    content: "";
    margin: initial;
}

/* HERO SECTION */

.hero {
    color: var(--hero-text-color);
    min-height: 100vh;
    width: 100%;
    padding: 5vh 5vw;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    row-gap: 6vh;
    background: linear-gradient(to bottom right, var(--accent-color), var(--accent-color-darker));
}

.heroContent {
    display: flex;
    flex-direction: column;
    flex: 3;
    place-items: center;
    place-content: center;
    text-align: center;
    font-size: 3vh;
    font-weight: 200;
    min-width: min(50vh, 100%);
}

.heroContent h1 {
    margin: 0 0 4vh;
    line-height: 8vh;
    font-size: 7vh;
    color: var(--hero-header-color);
}

.heroContent .subtitle {
    font-size: 4vh;
    font-weight: 400;
    margin: 0 0 2vh;
}

.heroContent .buttons { margin: 2.5vh 0 0; }
.heroContent button {
    outline: none;
    border: 2px solid var(--hero-text-color);
    background-color: transparent;
    border-radius: 4vh;
    color: var(--hero-text-color);
    font-size: 2.5vh;
    padding: 1vh 2vh;
    font-family: Poppins;
    font-weight: 400;
    margin: 0 0.5vh;
    cursor: pointer;
    transition: background-color 250ms, color 250ms;
}
.heroContent button:hover {
    background-color: var(--hero-text-color);
    color: var(--accent-color-darker);
}

.heroImage {
    display: flex;
    flex: 2;
    place-items: center;
    place-content: center;
    min-width: min(50vh, 100%);
}

.heroImage img {
    height: 75vh;
    animation: imageIn 1.5s ease;
}

.hero .overview {
    width: 50vw;
    min-width: 300px;
}

/* REGULAR SECTIONS */
section {
    background-color: var(--section-color-1);
    color: var(--text-color);
    box-sizing: border-box;
    width: 100%;
    min-height: 25%;
    font-size: 2.5vh;
    padding: 5vh 0;
}
section:nth-child(2n+1) {
    background-color: var(--section-color-2);
}
section div.container {
    margin: 0 20% 0 20%;
    padding: 5vh 0;
}
section h1 {
    font-size: 4vh;
    margin-top: 0;
    margin-bottom: 1vh;
    color: var(--colored-text);
}

ul {
    list-style: none; /* Remove default bullets */
}

ul li::before {
    content: "\2022";  /* Add content: \2022 is the CSS Code/unicode for a bullet */
    color: var(--colored-text); /* Change the color */
    font-weight: 800; /* If you want it to be bold */
    transform: scale(1.5);
    display: inline-block; /* Needed to add space between the bullet and the text */
    width: 1em; /* Also needed for space (tweak if needed) */
    margin-left: -1em; /* Also needed for space (tweak if needed) */
}

/* FOOTER */
div.footer {
    background-color: var(--section-color-1);
    color: var(--text-color);
    box-sizing: border-box;
    padding: 1.5vh;
    font-size: 2vh;
    width: 100%;
}
div.footer:nth-child(2n+1) {
    background-color: var(--section-color-2);
}
div.footer span {
    position: absolute;
    right: 1.5vh;
}

/* LINK STYLING */

a:link, a:visited, a:active, a {
    color: var(--text-color);
    transition: 100ms;
    font-weight: 200;
    text-decoration: none;
}
a:hover { color: var(--link-hover-color); }

/* MOBILE OVERRIDES */

@media (orientation: portrait) {
    .heroContent { margin: 2.5vh 0.5vh; }
    .hero { padding: 8vh 5vw; }
    section div.container {
        margin: 0 15% 0 15% !important;
        padding: 2.5vh 0 !important;
    }
    div.navigation { display: none; }
}

/* EXTRA */

.hidden { display: none !important; }
.bold { font-weight: 500 !important; }

/* ANIMATION */

@keyframes imageIn {
    0% {
        opacity: 0;
        transform: translateY(50px);
    }
    20% {
        opacity: 0;
        transform: translateY(50px);
    }
    100% {
        opacity: 1;
        transform: none;
    }
}

@keyframes hintAtSwipe {
    0% {

    }
}